includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 5
  paths:
    - app
    - routes
  excludePaths:
    - %currentWorkingDirectory%/vendor
  ignoreErrors:
    - '#Call to an undefined static method Illuminate\\Support\\Facades\\Route::apiV1#'
    - '#Call to an undefined method Illuminate\\Routing\\Route::description#'
    - '#Call to an undefined method Illuminate\\Routing\\Route::requiredParams#'
